extends ../layout

block head
		h1!= title

block body
		- if(revisions != 'none')
			div.container
				table
					tr
						th= '리비전'
						th= '일자'
						th= '링크'
					for revision, i in revisions
						tr
							td= 'r' + revisions[i]
							td= dates[i]
							td
								a(href= links[i])= '바로가기'
		- else
			div.container
				p
					strong!= error
