extends ../layout

mixin comments(comments)
  each comment in comments
    div
      div
        p=comment['id']
        p=comment['date']
      div
        p=comment['content']
    br

block head
    title= title
    
block body
    h1=post
    h2=title
    +comments(comments)
    hr
    h3="댓글 달기"
    form
      input(type="text", name="content")
      input(type="submit", value="Submit")
